<div class="center jumbotron">
  <h1> <%= @listing.product %>  </h1>
  <p> <%= @listing.description %> </p>
  <h2> <%= number_to_currency(@listing.price, unit: "MYR", format: "%n %u") %> </h2>
  <%= link_to 'Buy now', new_listing_order_path(@listing) %>
</div>