<div class="row.row-eq-height">
	<div class="col-md-3">
		<div class="center jumbotron">
		</div>
	</div>
	<div class="col-md-9">
		<div class="center jumbotron">
		  <h1> Hi <%= @user.first_name %>!</h1>
		</div>
	</div>
</div>